{% load staticfiles %}
<html>
    <head lang="en">

        <meta charset="utf-8" />
        <meta name="description" content="Spacecraft Anomaly Analysis Tool" />
        <meta name="author" content="David Kauffman" />

        <!-- Favicon Link  -->
        <link type="image/png" rel="icon" href="{% static 'img/logo.png' %}" />

        <!-- Vendor CSS -->
        <link href="{% static "vendor/foundation/css/foundation.min.css" %}" rel="stylesheet"/>
        <link href="{% static "vendor/datatables/css/1.10.18/datatables.min.css" %}" rel="stylesheet"/>
        <link href="{% static "vendor/noty/css/noty.css" %}" rel="stylesheet"/>
        <link href="{% static "vendor/noty/css/mint.css" %}" rel="stylesheet"/>
        <link href="{% static "vendor/fontawesome/css/all.min.css" %}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="{% static "css/thelma.design.css" %}" rel="stylesheet"/>
        {% block app_css %}{% endblock app_css %}

    </head>
    <body>
        <!-- About Modal -->
        <div id="js-about-modal" class="tiny reveal" data-reveal>
            <h2 id="js-about-modal-title" style="font-size: 14px;">About</h2>
            <div id="js-about-modal-content">

            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true" style="font-size: small;">&times;</span>
            </button>
        </div>

        <!-- Info Bar -->
        <div class="top-bar" style="height: 30px;">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <img src="{% static 'img/logo.png' %}"  id="site-logo">
                    </li>
                </ul>
            </div>
            <div class="tab-bar-center align-center" style="color: white;">
                <span style="font-size: 12px;">
                    <span class="sans-serif" id="utc-clock"></span>&nbsp;<i class="far fa-clock"></i> &nbsp; <span class="sans-serif" id="day-of-year"></span>&nbsp;<i class="far fa-calendar-alt"></i>
                </span>
            </div>
            <div class="top-bar-right">
                <ul class="menu" style="font-size: 12px;">
                    <li style="width: 145px;" id="user-profile-">
                        <a href="{% url 'core:profile' %}" class="button-hover" style="padding: 0 1rem;">
                            <div style="display: flex;">
                                <span style="color: #fff; float: left; padding-top: 3px;">
                                    {{ request.user.first_name }} {{ request.user.last_name }} &nbsp;
                                </span>
                                <span style="background-color: #fff; border-radius: 25px; padding: 4px;">
                                    <i class="fas fa-user" style="color: #333; float: left; line-height: none;"></i>
                                </span>
                            </div>
                        </a>
                    </li>
                </u>
            </div>
        </div>

        <!-- Main Navigation -->
        <div class="top-bar " style="background-color: #eee !important; border-bottom: #bbb 1px solid; height: 35px;">
            <div class="top-bar-left">
                <ul class=" menu alt-color"  style="color: black;">
                    <li>  <!-- <i class="fas fa-satellite-dish"></i> -->
                        <a href="{% url 'fetch:viewer' %}" class="text-color-daytime menu-text">Fetch</a>
                    </li>
                    <li class="global-nav"> <!-- <i class="fas fa-archive"></i> -->
                        <a href="{% url 'ingest:ingest' %}" class="text-color-daytime menu-text">Archive</a>
                    </li>
                    <li class="global-nav"> <!-- <i class="fas fa-book"></i> -->
                        <a href="{{ help_documentation_url }}" class="text-color-daytime menu-text">Help</a>
                    </li>
                    <li class="global-nav"> <!-- <i class="fas fa-book"></i> -->
                        <a id="js-about-button" class="text-color-daytime menu-text" >About</a>
                    </li>
                    <li style="border-left: 1px solid black;"></li>
                    <li class="global-nav">
                        <a class="" href="https://pljwchandra.stsci.edu/notebook" aria-selected="true" style="font-size: 12px; color: black;" target="_blank"><img style="width: 15px; margin-top: -10px; margin-bottom: -10px;" src="{% static 'img/jupyter_icon.png' %}"/> jSka Lab</a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <div style="position: relative; top: 7.5px; right: 55px;">
                    <div class="switch tiny">
                    <input class="switch-input" id="day-night" type="checkbox" name="nightModeSwitch" {{ user_preferences.daylight_mode }}>
                    <label class="switch-paddle" for="day-night">
                      <span class="switch-active" aria-hidden="true"><i class="fas fa-2x fa-sun"></i></span>
                      <span class="switch-inactive" aria-hidden="true"><i class="fas  fa-moon"></i></span>
                    </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Application Content -->
        <div class="grid-x" style="position: relative;" id="application-content-wrapper">
            <div class="cell small-12">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <div id="footer">
                <footer class="footer">
                  <div class="row full-width">
                    <div class="small-12 medium-3 large-4 columns">
                      <a href="http://www.stsci.edu"><img id="branding-icon" src="{% static 'img/stsci/stsci_pri_combo_mark_dark_bkgd.svg' %}" ></a>
                    </div>
                    <div class="small-12 medium-3 large-4 columns">
                    </div>
                    <div class="small-6 medium-3 large-2 columns">
                    </div>
                  </div>
                  <div class="row">
                        <div>Powered by <a href="" title="Chandra Tools">Chandra Tools</a> </div>
                  </div>
                  <div class="row">
                    <div class="small-8 medium-12 large-12 columns large-centered">
                      &copy; AURA <copyright>2020</copyright> - STScI
                    </div>
                  </div>
        </footer>
        <!-- <script src="{% static "js/vue/vue.js" %}"></script> -->
        <script src="{% static "vendor/fontawesome/js/all.min.js" %}"></script>
        <script src="{% static "vendor/jquery/jquery.js" %}"></script>
        <script src="{% static "vendor/jquery/jquery.clock.js" %}"></script>

        <script src="{% static "vendor/noty/js/noty.min.js" %}"></script>
        <script src="{% static "vendor/moment/moment.js" %}"></script>

        <script src="{% static "vendor/numeraljs/numeral.min.js" %}"></script>
        <script src="{% static "vendor/plotly/plotly.min.js" %}"></script>

        <script src="{% static "vendor/foundation/js/foundation.min.js" %}"></script>
        <script src="{% static "vendor/datatables/js/1.10.18/datatables.min.js" %}"></script>

        <script src="{% static "js/thelma.js" %}"></script>
        {% block app_js %}{% endblock app_js %}
        <script>
            $(document).foundation();
        </script>


    </body>
</html>
