{% load staticfiles %}
<div class="spinner no-display" id="ingestLoadingSpinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<div style="height: 100%; width: 100%; background-image: url('{% static 'img/patterns/dot-grid.png' %}');">
    <div style="margin: 0 auto; top: 30%; position: relative;" id="default-view-no-data">
        <i class="fas fa-satellite fa-9x"></i>
        <div style="font-size: 22px; margin-top: 10px;">No Plot Initialized</div>
    </div>
</div>