{% extends 'base.html' %}

{% load staticfiles %}

{% block app_css %}
    <link href="{% static "css/app/fetch.design.css" %}" rel="stylesheet"/>
{% endblock app_css %}

{% block app_js %}
    <script src="{% static "vendor/socketio/2.1.1/socket.io.js" %}"></script>
    <script src="{% static "js/app/fetch.js" %}"></script>
{% endblock app_js %}

{% block content %}

<style>
   .tabs-title > a {
        padding: 0.55rem 1.5rem;
    }
</style>

<div class="reveal large" id="statisticsModal" data-reveal>
    <div id="stats-plot-content" style="min-width: 250px; max-height: 100%;">
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- <div style="display: none;" data-url="{% url 'fetch:range' %}" id="mnemonic-range"></div> -->
<div style="display: none;" data-url="{% url 'fetch:5min-stats-markup' %}" id="5minStatsMarkup"></div>
<div style="display: none;" data-url="{% url 'fetch:daily-stats-markup' %}" id="dailyStatsMarkup"></div>

<div class="top-bar alt-color" style="color: black; border-bottom: #bbb 1px solid; background-color: #ddd; padding: .5rem;">
    <div class="top-bar-left">
        <ul class="dropdown menu alt-color"  style="color: black; line-height: 0;" data-dropdown-menu>
            <!-- <li>
                <a style="color: black;">File</a>
                <ul class="menu vertical">
                    {% if activate_application == 'fetch' %}
                        <li class="global-nav">
                            <a href="#"><i class="fas fa-file"></i> New Plot</a>
                        </li>
                        <li class="global-nav">
                            <a href="#"><i class="far fa-folder"></i> Open ...</a>
                        </li>
                        <li class="global-nav">
                            <a href="#"><i class="far fa-save"></i> Save ...</a>
                        </li>
                    {% endif %}
                </ul>
            </li> -->
            <li>
                <label for="mnemonic">Mnemonic:
                    <input type="search" name="mnemonic" placeholder="Enter a mnemoic" id="mnemonic" style="width: 185px; height: 25px; font-size: 14px;">
                </label>
            </li>
            <li>
                <form>
                    <label for="startOfRangeInput">tstart:
                        <input type="text" name="startDOY" placeholder="YYYY:DOY:HH:mm:SS.sss" style="width: 185px; height: 25px; font-size: 14px;" id="startOfRangeInput" required>
                    <label>
                </form>
            <li>
            <li>
                <label for="endOfRangeInput">tstop:
                    <input type="text" name="endDOY" placeholder="YYYY:DOY:HH:mm:SS.sss" style="width: 185px; height: 25px; font-size: 14px;" id="endOfRangeInput">
                </label>
            </li>
            <li><button type="button" class="button small" value="Fetch" id="submit" style="line-height: 0;">FETCH</button></li>

            <li style="margin-left: 5px;"><button type="button" class="button small disabled" value="Fetch" id="submit" style="line-height: 0;">INTERP.</button></li>
        </ul>
    </div>
</div>

<div class="grid-x" style="height: 98.5%;">
    <div class="cell small-12" style="height: 50%; background-color: #fff; padding-right: 30px;">
        <div class="viewer-window" id="plot">
            <div class="spinner no-display" id="ingestLoadingSpinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div style="height: 100%; width: 100%; background-image: url('{% static 'img/patterns/dot-grid.png' %}');">
                <div style="margin: 0 auto; top: 30%; position: relative;" id="default-view-no-data">
                    <i class="fas fa-satellite fa-9x"></i>
                    <div style="font-size: 22px; margin-top: 10px;">No Data Fetched</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell small-12" style="height: 50%; border-top: #ddd solid 1px;" id="statsTableWrapper">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a class="text-color-daytime" data-tabs-target="panel1" href="#panel1" style="font-size: 12px;"><i class="fas fa-table"></i> Stats</a></li>
            <li class="tabs-title"><a class="text-color-daytime" href="#panel2" aria-selected="true" style="font-size: 12px;"><img style="width: 15px; margin-top: -10px; margin-bottom: -10px;"src="{% static 'img/jupyter_icon.png' %}"/> Jupyter</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs" style="border: none !important; padding-top: 10px;">
            <div class="tabs-panel is-active" style="padding: 0;" id="panel1">
                <!-- <div style="width: 100%; height: calc(100% - 50px);" id="terminal"></div> -->
                <table id="mnemonicStatisticsTable"  data-stats-interval="null" class="display" style="width:100%" style="text-align: center; padding: 0 5px 0 5px;">
                </table>
            </div>
            <div class="tabs-panel" id="panel2">
                <div>
                    <ul class="menu" style="margin: -25px; padding-left: 10px;">
                        <li><a href="https://pljwchandra.stsci.edu/notebook" target="_blank">Jupyter Lab</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

